@using contactPro2.Services.Interfaces
@model EmailData
@inject IImageService _ImageService


<style>
    .ck-editor__editable_inline {
        min-height: 300px;
    }
</style>
<h1 class="mt-3">Email Contact: @Model.FirstName @Model.LastName </h1>
<div class="square-img-container m-2" style="height: 60px; width: 60px;"
     data-bs-toggle="tooltip" data-bs-title="@Model.FirstName @Model.LastName" data-bs-placement="bottom">
    <img class="square-img" src="@_ImageService.ConvertByteArrayToFile(null, null)">
</div>
<div class="p-2">
    <form asp-action="EmailContact" asp-controller="Contacts" method="post">
        <input type="hidden" asp-for="GroupName" /> @*Reference the Group Name*@
        <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
            <div class="col col-md-12">
                <label asp-for="EmailAddress" class="form-label">To:</label> @* Reference the EmailData's email address*@
                <textarea type="email" class="form-control" asp-for="EmailAddress" rows="3"></textarea> @* Reference the EmailData's email address*@
            </div>
        </div>
        <div class="row row-cols-1 g-3">
            <div class="col">
                <label asp-for="EmailSubject" class="form-label">Subject:</label> @* Reference the EmailData's email subject*@
                <input type="text" class="form-control" asp-for="EmailSubject" /> @* Reference the EmailData's email subject*@
            </div>
            <div class="col">
                <label asp-for="EmailBody" class="form-label">Message:</label> @* Reference the EmailData's email body*@
                <textarea class="form-control editor" rows=10 asp-for="EmailBody" required></textarea> @* Reference the EmailData's email body*@
            </div>
            <div class="col text-end">
                <a asp-action="Index" class="btn btn-outline-secondary rounded-pill btnLink start-0">Cancel</a>
                <button class="btn btn-primary rounded-pill btnlinks" type="submit">Send</button>
            </div>
        </div>
    </form>
</div>
@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!--CK Editor-->
    <script src="https://cdn.ckeditor.com/ckeditor5/37.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('.editor'), {
                licenseKey: '',
            })
            .then(editor => {
                window.editor = editor;
            });
    </script>
}
