@model IEnumerable<Contact>
@using contactPro2.Services.Interfaces;
@inject IImageService _ImageService;



@{
    ViewData["Title"] = "Index";
    string searchTerm = ViewBag.SearchTerm ?? "";
    string filterTerm = ViewBag.FilterTerm;

    string pageUse = ViewBag.PageUse;
    string pageTitle = string.Empty;

    switch (pageUse)
    {
        case "Index":
            pageTitle = "MyContacts";
            break;
        case "Search":
            pageTitle = $"Search Results for {searchTerm}";
            break;
        case "Filter":
            pageTitle = $"Contacts in {filterTerm} category";
            break;
    }

}


<h1>My Contacts</h1>
@if (Model.Count() > 0)
{
    <div class="row">
        <div class="col-12 text-end mb-2">

            @*     asp-action="Create" asp-controller="Categories" *@
            <a class="btn btn-primary rounded-pill" asp-action="Create" asp-controller="Contacts">Add<i class="bi bi-person-plus-fill ps-2"></i></a>
        </div>
    </div>
}
<div class="row g-2">
    <div class="col-12 col-md-4 sideNav">
        <form asp-action="SearchContacts" asp-controller="Contacts" method="post">
            <div class="input-group">
                <input class="form-control" type="search" name="searchString" value="@searchTerm"
                       placeholder="Contact Name" />
                <input type="submit" class="btn btn-outline-primary text-light" value="Search" />
            </div>
        </form>
        <form asp-action="Index" asp-controller="Contacts" method="post">
            <div class="mt-5 ">
                <label class="form-label fw-bold text-light">CATEGORY FILTER</label>
                <select name="categoryId" class="form-control" asp-items="ViewBag.Categories"
                        onchange="this.form.submit()" onfocus="this.selectedIndex=-1;this.blur();">
                    <option>All Contacts</option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-12 col-md-8">
        <div class="row row-cols-1 g-3">
            @if (Model.Count() > 0)
            {
                @*Loop over and display the Contacts for the logged in user*@
                @foreach (Contact contact in Model)
                {
                    <div class="col">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4 square-img-container">
                                    <img src="@_ImageService.ConvertByteArrayToFile(contact.ImageData,contact.ImageType)" class="square-img rounded-start">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">@contact.FullName</h5>
                                        <address class="card-text">
                                            @contact.Address1 <br>
                                            @if (!string.IsNullOrEmpty(contact.Address2))
                                            {
                                                @contact.Address2 <br>
                                            }
                                            @contact.City @contact.State  @contact.ZipCode
                                            
                                           


                                        </address>
                                        <div class="card-text">
                                            <span class="fw-bold me-2">Phone:</span>@contact.PhoneNumber
                                        </div>
                                        <div class="card-text">
                                            <span class="fw-bold me-2">Email:</span>@contact.Email
                                        </div>



                                        <div class="fs-4">
                                            <a class="me-3 editIcons" asp-action="Edit" asp-route-id="@contact.Id">
                                                <i class="bi bi-pencil-fill"></i>
                                                <span class="hover-text">Edit</span>
                                            </a>
                                            <a class="me-3 editIcons" asp-action="EmailContact" asp-route-id="@contact.Id">
                                                <i class="bi bi-envelope-fill"></i>
                                                <span class="hover-text">Email Contact</span>
                                            </a>
                                            <a class="me-3 editIcons" asp-action="Delete" asp-route-id="@contact.Id">
                                                <i class="bi bi-trash-fill text-danger"></i>
                                                <span class="hover-text">Delete</span>
                                            </a>
                                        </div>

                                        
                                        
                                        
                                        
                                        <div>
                                            @*Display Categories*@
                                            @foreach (Category category in contact.Categories)
                                            {
                                                <span class="badge rounded-pill border border-1 text-dark fw-normal">@category.Name</span>


                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                @* If there are no Contacts display the default Contact image and a button to add Contacts*@
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4 square-img-container">
                                <img src="@_ImageService.ConvertByteArrayToFile(null,null)" class="square-img rounded-start">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">No Contacts Found</h5>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col-12 mb-2">
                                                <a class="btn btn-lg btn-primary rounded-pill px-4" asp-action="Create" asp-controller="Contacts">Add Contact<i class="bi bi-person-plus-fill ps-2"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
